<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.binglen.androidxxime">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--声明需要BIND_INPUT_METHOD权限来对接系统-->
        <service
            android:name=".AndroidXXIME"
            android:label="@string/xxime"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <!--创建了一个能够匹配android.view.InputMethod的intent filter-->
            <!--隐式意图过滤器-->
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <!--定义了输入法的metadata-->
            <!--name,value给别人用的值-->
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

    </application>

</manifest>
